 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
   font-family: 'Raleway', sans-serif;
 }


 $skeleton-color: #e0e0e0;
 $skeleton-width: 400px;
 $skeleton-offset: 100px;

 $image-height: 13rem;

 $line-height: 12px;
 $line-1-width: 50%;
 $line-2-width: 100%;

 $line-3-width: 100%;



 $primary: #0071BC;

 .feature-box {
   transition: background-color 0.3s;
   position: relative;

   &::before,
   &::after {
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     border-radius: 0.25rem;
     border: 2px solid transparent;
   }

   &::before {
     left: -2px;
     top: -2px;
   }

   &::after {
     right: -2px;
     bottom: -2px;
   }

   &:hover {


     &::before,
     &::after {
       width: calc(100% + 4px);
       height: calc(100% + 4px);
     }

     &::before {
       transition: width 0.2s linear, height 0.2s linear 0.2s;
       border-top-color: $primary;
       border-right-color: $primary;
     }

     &::after {
       transition: width 0.2s linear 0.4s, height 0.2s linear 0.6s;
       border-bottom-color: $primary;
       border-left-color: $primary;
     }
   }
 }









 @mixin background {
   background-image: linear-gradient(90deg, $skeleton-color 0px, lighten($skeleton-color, 5%) 30px, $skeleton-color 60px);
   background-size: calc(#{$skeleton-width} + #{$skeleton-offset});
 }

 .skeleton {
   width: $skeleton-width;

   .image,
   .line {
     @include background;
     animation: refresh 1.5s infinite ease-out;
   }

   .image {
     height: $image-height;
   }

   .line {
     height: $line-height;

     &:first-child {
       width: $line-1-width;
     }

     &:last-child {
       width: $line-2-width;
     }
   }
 }

 @keyframes refresh {
   0% {
     background-position: calc(-#{$skeleton-offset});
   }

   40%,
   100% {
     background-position: $skeleton-width;
   }
 }


 * {
   box-sizing: border-box;

 }

 body {
   margin: 0;
   overflow-x: hidden;
 }


 .slick-slide:first-child {
   margin-right: 0px;
 }

 .slick-slide:last-child {
   margin-right: 0px;
 }



 .box {
   --border-size: 3px;
   --border-angle: 0turn;

   background-image: conic-gradient(from var(--border-angle),
       #000,
       #000 50%,
       #000),
     conic-gradient(from var(--border-angle), transparent 20%, #0000, #c6c7be);
   background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
     cover;
   background-position: center center;
   background-repeat: no-repeat;

   animation: bg-spin 3s linear infinite;

   @keyframes bg-spin {
     to {
       --border-angle: 1turn;
     }
   }

   &:hover {
     animation-play-state: paused;
   }
 }

 @property --border-angle {
   syntax: "<angle>";
   inherits: true;
   initial-value: 0turn;
 }